/* .ingredients{
    background: url(../../public/images/bottles.jpg) no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    /* blur background image */
    
    /* height: 100%;
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: -1; */



.ingredient-grid{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    /* make half transparent background */
    background-color: rgba(0,0,0,0.8);
    border-radius: 10px;
        /* grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr; */
    /* grid-gap: 10px; */
    padding: 10px;
    /* move to centre of screen */
    margin: 3rem 3rem;
    list-style-type: none;
}

.ingredient{
    /* make circle backgroun using local pictures */
    color: white;
    transition: .4s;
    padding: .5rem;

}

.ingredient:hover{
scale: 1.4;
transition: .4s ease-in-out;
background-color: rgba(0,0,0,0.9);
/* border: 5px white solid; */
border-radius: 10%;
}