.cocktails{
    background: url(../../public/images/bottles.jpg) no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    /* blur background image */
    
    /* height: 100%;
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: -1; */
}

.cocktail-grid{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    
    list-style-type: none;
    /* make half transparent background */
    background-color: rgba(0,0,0,0.8);
    border-radius: 10px;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
    grid-gap: 10px;
    padding: 20px;
    /* move to centre of screen */
    margin: 3rem 8rem;
    list-style-type: none;
}

.cocktail{
    /* make circle backgroun using local pictures */

    transition: .4s;
    padding: 1rem
}

.cocktail:hover{
scale: 1.4;
transition: .4s ease-in-out;
background-color: rgba(0,0,0,0.9);
/* border: 5px white solid; */
border-radius: 10%;
}