:root {
  --border-color: #fff7f6f3;
  --text-color: #1a0000;
  --box-glow: #c42a0ff3;
}

.landing {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  overflow-x: hidden;
}

.main-splash {
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
}

.main-title-text {
  color: white;
  font-size: 10em;
  font-weight: bold;
  text-shadow: 0px 0px 51px rgba(0, 0, 0, 0.8);
  /* add animation for logo */
  animation: clink 2s ease-in-out infinite alternate;
  text-align: center;
  margin: 0;
  padding: 0;
  /* z-index: 20; */
}

.main-nav {
  display: flex;
  
}

.tile-img {
  height: 100%;
  width: 100%;
  border-radius: 50%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  transition: 0.5s ease-in-out;
  filter: blur(1px);
}

.main-tile:hover .tile-img {
  transition: 0.5s ease-in-out;
  filter: blur(0px);
}

.tile-list {
  background: url(../../public/images/cocktails.webp) center;
}

.tile-bar {
  background: url(../../public/images/bottles.webp) center;
}

.tile-fav {
  background: url(../../public/images/fav.webp) center no-repeat;
}

.main-tile {
  position: relative;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  height: 200px;
  width: 200px;
  border-radius: 50%;
  margin: 2rem;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 0px 0px 30px 6px var(--box-glow);
  transition: 0.5s;
  border: 14px solid var(--border-color);
  z-index: 200;
}

.tile-title {
  position: relative;
  top: 0;
  left: 0;
  color: var(--text-color);
  font-size: 2em;
  font-weight: bold;
  margin-bottom: 0;
}

.title-bar {
  background-color: var(--border-color);
  width: 100%;

}

@keyframes clink {
  0% {
    letter-spacing: -0.5rem;
    color: rgb(238, 238, 238);
    text-shadow: 0px 0px 4px rgba(0, 0, 0, 0.8);
  }
  100% {
    letter-spacing: 1rem;
    text-shadow: 0px 20px 10px rgba(0, 0, 0, 0.8);
  }
}

.main-tile:hover {
  scale: 1.1;
  font-weight: bolder;
  transition: 0.5s ease-in-out;
  box-shadow: 0px -10px 30px 6px var(--box-glow);
  border: 8px solid var(--border-color);
}

@media screen and (max-width: 1000px) {
  .main-nav {
    flex-direction: column;
  }
  .main-title-text {
    font-size: 5em;
  }

  .main-tile {
    font-size: 0.8rem;
    box-shadow: 0px -10px 30px 6px rgba(0, 0, 0, 0.6);
    height: 150px;
    width: 150px;
    margin: 0.5rem;
    flex: 1;
    border: 02px solid var(--border-color);
  }

  .main-splash {
    background-position: center;
    flex-direction: column-reverse;
    position: relative;
    /* overflow: hidden; */
    /* height: 100vh; */
    margin-top: 2.5em;
  }

  .main-tile:hover {
    scale: 0.9;
    transition: 0.3s ease-in-out;
    box-shadow: 0px 0px 50px 15px rgba(0, 0, 0);
  }
}
