
.navtabs{
    /* display: flex;
    flex-direction: row; */
    position: fixed;
    top: 1rem;
    left: 1rem;
    
    display: inline-block;
    z-index: 1;
    /* centre tabs on screen */
}

#nav-btn{
  padding: 12px 12px;
  background-color: rgb(83, 83, 83);
  color: white;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.42857143;
  opacity: 0.6;
  border: 2px solid transparent;
  border-radius: 32px 32px 32px 32px;
  transition: .4s;
  z-index: 1;
}

#nav-btn:hover{
    border-radius: 22px 22px 22px 22px;
    transition: .4s;
    opacity: 1;
    scale: 1.2;
    padding: 1rem;
    translate: 2rem;
  }

  /* media query for smaller screens */
  @media screen and (max-width: 600px) {
    .navtabs{
    display: flex;
    flex-direction: row;
    position: fixed;
    width: 100%;
    top: 2.8rem;

    left: 0;
    justify-content: space-between;
    /* margin: 0 auto; */
   }

   #nav-btn{
    padding: 5px 5px;
    background-color: rgb(83, 83, 83);
    margin: 5px;
    color: white;
    font-size: .8rem;
    font-weight: 400;
    line-height: 1.42857143;
    opacity: 0.9;
    border: 2px solid transparent;
    border-radius: 32px 32px 32px 32px;
    transition: .4s;
    z-index: 1;
  }

  }
 