.recipe-page{
    display: flex;
    height: 100%;
    width: 100%;
    align-items: center;
    justify-content: center;
    /* background-image: url(../../public/images/pour.jpg); */
    background-size: cover;
    background-repeat: no-repeat;
    /* position: fixed; */
    margin-top: 2.5rem;
}

.instructions-list{
    list-style-type:circle;
    list-style-position: inside;
       

    padding-left:0
}


.drink-card{
    width: 25rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 2rem auto;
    /* transition: all 0.3s ease-in-out; */
    text-align: center;
    background-color: rgb(221, 207, 207);
    padding: 1rem;
    border: 5px solid rgb(126, 126, 126);
    border-radius: 2rem;
    box-shadow: 0 0 1rem 0 rgba(0,0,0,0.2);
    height: 100%;
    margin: 1rem;
}
.drink-card h1{
    font-size: 2rem;
    /* margin: 1rem; */
}

.card-ingredients{
    list-style-type : none;
    margin: 1rem;
    padding: 0;
}

.drink-card img{
    height: 22rem;
    border-radius: 22rem;
    transition: 1s ;
    box-shadow: 4px 6px 2rem 20px rgba(0,0,0,0.2);
}


.drink-image:hover{
    border-radius: 8rem;
    transition: 0.4s ;
    box-shadow: 0 0 2rem 0 rgba(0,0,0,0.2);
}

/* media query for smaller screens */
@media screen and (max-width: 768px){
    .drink-card{
        width: 20rem;
        margin: 3.5rem;
    }
    .drink-card img{
        height: 18rem;
    }
}