.loading-backround{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
    background-color: rgb(197, 32, 32);
}

.shakergif{
    /* margin: 0 auto;
    display: block;
    width: auto; */
    height: 100%;
    background-color: violet;
}