@import url("https://fonts.googleapis.com/css2?family=Montserrat+Alternates:wght@500;600;700&display=swap");

* {
  text-align: center;
  font-family: "Montserrat Alternates", sans-serif;
  /* get rid of all underlined links */
  text-decoration: none;
  box-sizing: border-box;
}

.background-img{
  background-image: url(../public/images/bar.webp);
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  height: 100vh;
  width: 100vw;
  position: fixed;
  /* top: 0; */
  /* left: 0; */
  z-index: -1;
  overflow-y: scroll;
}

/* width */
::-webkit-scrollbar {
  width: 25px;
}

/* Track */

 
/* Handle */
::-webkit-scrollbar-thumb {
  background: rgb(111, 7, 7); 
  border-radius: 20px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #f52929; 
}

a {
  text-decoration: none;
  color: white;
  transition: 0.4s;
}

a:hover {
  color: white;
  /* outline the text */
  /* text-shadow: 1px 1px 0px rgb(255, 3, 3, 0.7); */
  transition: 0.4s;
}

.section-heading {
  font-size: 2rem;
  font-weight: 600;
  margin: 1rem;
  color: rgb(241, 241, 241);
  background-color: rgba(0, 0, 0, 0.9);
  width: 40%;
  margin: 2rem auto 0 auto;
  padding: 1rem;
  border-radius: 1rem 1rem 0 0;
}

.no-result {
  font-size: 1.5rem;
  font-weight: 600;
  margin: 1rem;
  color: rgb(241, 241, 241);
  background-color: rgba(0, 0, 0, 0.9);
  width: 40%;
  margin: 2rem auto 0 auto;
  padding: 1rem;
  border-radius: 1rem 1rem 0 0;
}

/* media query fr smaller screens */
@media screen and (max-width: 800px) {
  .section-heading {
    font-size: 1.5rem;
    width: 70%;
  }

  ::-webkit-scrollbar {
    width: 5px;
  }

 }
